<div class="card">
    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="dataTables_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">
                    <span class="actions__item zmdi zmdi-search" onclick="search()" title="搜索" />
                    <span class="actions__item zmdi zmdi-refresh-alt" onclick="refresh()" title="刷新" />
                      <div class="dropdown actions__item">
                        <i data-toggle="dropdown" class="zmdi zmdi-download">
		            </i>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="excel" onclick="exportLogExcel()">
		                    Excel (.xlsx)
		                </a>
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="csv" onclick="exportLogCsv()">
		                    CSV (.csv)
		                </a>
                        </ul>
                    </div> 
                    <div class="dropdown actions__item" shiro:hasPermission="telegram:message-list">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" onclick="addMessage()" shiro:hasPermission="telegram-message:add">新建消息</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="updateMessage()" shiro:hasPermission="telegram-message:update">编辑消息</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="deleteMessage()" shiro:hasPermission="telegram-message:delete">删除消息</a>
                            <!--<a href="javascript:void(0)" class="dropdown-item" onclick="downMessage()" shiro:hasPermission="telegram-message:status">下线</a>-->
                            <!--<a href="javascript:void(0)" class="dropdown-item" onclick="upMessage()" shiro:hasPermission="telegram-message:status">上线</a>-->
                        </div>
                    </div>
                </div>
                <div id="data-table_filter" class="dataTables_filter">
                    <form class="message-table-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
					               	标题：
					            </span>
                                    <div class="form-group">
                                        <input type="text" name="title" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table id="telegramMessageTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/system/telegram/message.js}"></script>